/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    width: 100%;
    height: 90vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 36, 1) 70%, rgb(6, 6, 87) 100%);
    position: relative;
    padding-top: 150px;
}

.hero h1 {
    font-weight: 700;
    font-size: 8.175rem;
    line-height: 0.8;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.hero h1 span {
    color:rgb(15, 206, 219);
}

.hero .hero-btn {
    width: 200px;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 19px 0px;
    transition: 0.5s;
    color: #ffffff;
}

.hero .btn-discord {
    background: #0054f7;
}

.hero .btn-instagram {
    background: #e54786;
}

.hero .btn-discord:hover {
    background: transparent;
    border-color: #0054f7;
    color: #0054f7;
}

.hero .btn-instagram:hover {
    background: transparent;
    border-color: #e54786;
    color: #e54786;
}

@media (max-width: 1200px) {
    .hero img {
        display: none;
    }
    .hero {
        text-align: center;
        padding-top: 58px;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
        background-size: cover;
    }
    .hero h1 {
        font-size: 5rem;
    }

    .hero .hero-btn {
        margin-bottom: 30px;
    }

    .hero {
        width: 100%;
        height: 80vh;
    }
}

@media (max-height: 500px) {
    .hero {
        height: 120vh;
    }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about {
    width: 100%;
    background: rgb(6, 6, 87);
}

.about .about-text {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 32px;
}

.about .about-text .about-text-lg {
    font-weight: 700;
    font-size: 1.875rem;
}

.about .about-text .about-text-lg-alt {
    color: rgb(15, 206, 219);
}

.about .title-container {
    padding-top: 40px;
    margin-left: auto;
    margin-right: 0;
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

.projects {
    padding: 0px;
}

.project {
    background-color: #181818;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    padding: 140px 0px;
}

.project h2 {
    font-weight: 700;
    font-size: 3rem;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.project p {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 32px;
}

.projects .presis {
    background: linear-gradient(to right,transparent,transparent 30%,#000c 65%,#000d),url(../img/presis-bg.jpg); 
}

.projects .patacon {
    background: linear-gradient(to left,transparent,transparent 30%,#000c 65%,#000d),url(../img/patacon-bg.png);
}

.project .btn {
    background-color: transparent;
    border-color: #ffffff;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 1px;
    min-width: 190px;
    padding: 15px;
    text-align: center;
}

.project .btn:hover {
    background-color: #ffffff;
    color: #181818;
}

@media (max-width: 574px) {
    .projects .presis {
        background: linear-gradient(to left,transparent,transparent 5%,#000c 60%,#000d) , url(../img/presis-bg.jpg);
    }

    .project .patacon {
        background: linear-gradient(to left,transparent,transparent 5%,#000c 60%,#000d) , url(../img/patacon-bg.jpg);    
    }
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact {
    width: 100%;
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 200px;
}

.contact h5 {
    font-weight: 700;
    font-size: 1.875rem;
}

.contact p {
    letter-spacing: 0px;
    font-size: 1.10rem;
    font-weight: 500;
    line-height: 32px;
}

.contact a {
    font-size: 18px;
    display: inline-block;
    background: var(--color-accent);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}